div .Section__container___3YYTG{
    text-align: center;
    background: linear-gradient(115deg, black, rgb(33, 33, 33), rgb(46, 46, 46));
    color: yellow;
    border: solid 0px red;
  }
  
  div .Section__container___3YYTG button{
    font-weight: bold;
    color: black;
    background: linear-gradient(yellow, gray);
    border: solid 0px red;
    border-radius: 6px;
    margin: 5px;
    padding: 4px;
  }
  
  div .Section__container___3YYTG button:hover{
    font-weight: bold;
    color: white;
    background: linear-gradient(rgb(167, 167, 66), rgb(38, 36, 36));
    border: solid 0px red;
  }