html, body {
    height: 100%;
    overflow: auto;  /* Ensures scrolling is enabled */
  }
  
  .PostBoard .container {
    max-width: 85vw;
    margin: 0 auto;
    height: 70vh;

  }
  
  .guide-box {
    /* border: solid 1px red; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .guide-box > p{
    /* border: solid 1px red; */
    padding: 20px;
  }
  
  .PostBoard .flex-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .PostBoard .steps li {
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    background-color: #88888833;
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.1);
    text-align: left;
    list-style-type: none;
    overflow: hidden;  /* Prevents overflow inside individual list items */
  }
  
  /* Style for the small centered images */
.image-container {
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .image-container img {
    text-align: center;
    width: 300px; /* Smaller size */
    height: auto;
    border-radius: 8px;
  }
  
  /* Zoom effect on hover */
  .image-container:hover {
    transform: scale(1.1);
  }
  
  /* Modal style */
  .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .modal img {
    width: 100%;
    max-width: 80vw;
    max-height: 90vh;
  }
  
  .circle-container {
    padding-top: 180px;
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
  }
  
  a.circle-button {
    text-align: center;
    position: absolute;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #969696;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
    transition: transform 0.2s;
  }
  
  a.circle-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background: #ffffff;
  }

  .copy-button:hover {
    background-color: #005f99;
  }

  .copy-button:active {
    background-color: #004c7a;
  }

  .command {
    font-family: 'Courier New', Courier, monospace;
    background-color: #3e3e3e;
    padding: 10px;
    border-radius: 4px;
    color: #4ec9b0;
    margin: 0;
  }

  .copy-button {
    background-color: #007acc;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }

  .clipboard{
    /* border: solid 1px #888; */
    cursor: pointer;
  }
  .clipboard:hover{
    color: rgb(255, 255, 255);
  }

  a{
    color: rgb(255, 51, 255);
  }
  a:hover{
    color: rgb(75, 144, 233);
  }
  b{
    color: rgb(87, 216, 87);
  }