#root > div > div.Resume > div > iframe{
    width: 100%;
    height: 100vw;
}
.container-pdf{
    padding-left: 10vw;
    padding-right: 10vw;
    height: 80vw;
    padding-bottom: 40vw;
    margin-bottom: 40vw;
}


.Resume {
    text-align: center;
  }

  .Resume .download-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #2f0745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin: 3px;
    text-shadow: none;

  }

  .Resume .download-button:hover {
    background-color: #3f00b3;
    cursor: pointer;
    text-shadow: none;
  }
  .container-pdf {
    overflow-y: auto;
  }
  
  /* Hide the sidebar */
  iframe {
    border: none;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  /* Remove the sidebar */
  iframe::-webkit-scrollbar {
    display: none;
  }
  
  /* Force Safari to call pagescript */
  iframe {
    -webkit-user-select: none;
    -webkit-natural-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Remove the page numbers */
  iframe {
    page-break-after: always;
  }
  